TELEGRAM_ACCESS_TOKEN=telegram_bot_token
TELEGRAM_WEBHOOK_TOKEN=your_secret_webhook_token
TELEGRAM_WEBHOOK_PORT=2000

MONGODB_URI=mongodb://localhost:27017
MONGODB_USERNAME=admin
MONGODB_PASSWORD=qwerty
MONGODB_NAME=main

API_URL=http://localhost:8000
PORT=8000
APPSTORE_URL=https://apps.apple.com/ru/app/streisand/id6450534064
PLAYMARKET_URL=https://play.google.com/store/search?q=v2raytun&c=apps
SERVER_PANEL_PASSWORD=server_panel_password

CLOUDPAYMENTS_PUBLIC_ID=your_cloudpayments_public_id
CLOUDPAYMENTS_SECRET=your_cloudpayments_secret
CLOUDPAMENTS_API_URL=https://api.cloudpayments.ru

ANALYTICS_CHANNEL_ID=analytics_channel_id
ANALYTICS_SPREADSHEET_ID=your_analytics_spreadsheet_id

GOOGLE_CREDENTIALS=your_google_credentials_json
